














<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/register" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <% if(messages.error){ %> 
                <span class="text-red-500 text-sm"> <%= messages.error %>  </span>
                <% } %> 
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">
                    Name
                </label>
                <input  name="name" type="text" id="username" placeholder="Enter your name" value="<%= messages.name %>" 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

            </div>
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">
                    Email
                </label>
                <input name="email" value="<%= messages.email %> "  type="email" id="username" placeholder="Enter your email"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

            </div>

            <div class="mb-6">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">
                    Password
                </label>
                <input  name="password" type="password" id="password" placeholder="***********"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

            </div>

            <div class="flex items-center justify-between">
                <button class=" btn-primary  text-white font-bold py-2 px-4 rounded-full
                focus:outline-none focus:shadow-outline" type="submit">
                    Register
                </button>

                <a href="/login" class="inline-block align-baseline font-bold text-sm ">
                    Already have account?
                </a>


            </div>

        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2021 RION-TECH, All rights reserved.
        </p>
    </div>
</section>







































